.card {
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  max-width: 400px;
  min-width: 300px;
  height: fit-content;
}

.card-title {
  font-weight: 700;
  color: #292929;
}

.card-text {
  font-weight: 400;
  color: #666666;
}
