.btn.btn-outline-secondary {
  background-color: #FFFFFF;
  border: 2px solid #EBEBEB;
  max-height: 40px;
  border-radius: 8px;
  font-weight: 700;
  color: #292929;
  display: inline-block;
  line-height: 20px;
  text-align: center;

  &:active {
    color: lighten(#292929, 5);
    border-color: darken(#EBEBEB, 10);
    background-color: #FFFFFF;
  }

  &:hover {
    color: lighten(#292929, 5);
    border-color: darken(#EBEBEB, 10);
  }

  &:focus {
    color: lighten(#292929, 5);
    border-color: darken(#EBEBEB, 10);
  }
}
