.btn.btn-primary {
  background-color: #ED7135;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  color: #FFFFFF;

  &:active {
    background-color: lighten(#ED7135, 5);
  }

  &:hover {
    background-color: lighten(#ED7135, 5);
  }

  &:focus {
    background-color: lighten(#ED7135, 5);
  }
}
