.dropdown-toggle {
  &:after {
    border-bottom: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 51%;
    right: 20px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  &.show:after {
    top: 42%;
    transform: rotate(224deg) translateY(-50%);
  }
}
