.btn.read-more-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #292929;
  text-decoration: none;

  &:active {
    color: lighten(#292929, 30);
  }

  &:hover {
    color: lighten(#292929, 20);
  }

  &:focus {
    color: lighten(#292929, 20);
  }
}
