@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Commissioner', sans-serif;
}

main{
  min-height: 110vh;
}

.moreText {
  display: none;
}

.card-text.show-more .moreText {
  display: inline;
}

.card-text.show-more .dots {
  display: none;
}
