.container {
  max-width: 1140px;
}

.nav-item.active .nav-item-link-wrapper {
  width: fit-content;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid $primary;
    width: calc(100% - 1.5rem);
  }
}
