@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Colors
$primary: #ED7135;
$secondary: #666666;
$dark: #292929;
$light: #EBEBEB;
$white: #FFFFFF;
$gray: #EEEEEE;

// Customize some defaults
$border-radius: 8px;
$font-family-base: 'Commissioner', sans-serif;
$dropdown-link-active-bg: $light;

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Custom styles
@import "./components/components";
@import "common";
